html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #3f3e3b;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
  background-color: #f9fafb;
}

header {
  display: flex;
  padding: 2em 4em 4em 4em;
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  padding: 2em 4em;
}

footer {
  height: 10rem;
  background-color: #3f3e3b;
  color: white;
  padding: 1rem 4rem;
  grid-area: footer;
}

p {
  width: 60ch;
  line-height: 1.5rem;
}

nav {
  flex: 5;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 1.8rem;
  justify-content: center;
}

nav > ul > li > a,
#account > a {
  text-decoration: none;
  color: #3f3e3b;
  font-weight: 500;
}

nav > ul > li > a.active,
#account > a.active{
  font-weight: 650;
}

nav > ul > li > a.active:after,
#account > a.active:after{
  background: #b0a49a;
  content: "";
  display: block;
  height: 1px;
  margin: 10px auto 0;
  width: 3rem;
}

nav > ul > li > a:hover,
#account > a:hover {
  text-decoration: underline;
  color: hsl(45, 3%, 24%);
  font-weight: 500;
}

#logo {
  flex: 1;
  max-width: 8rem;
  max-height: 3.5rem;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiBpZD0iTGF5ZXJfMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZS8+PHBhdGggZD0iTTE0LDE5LjV2MmExLjUsMS41LDAsMCwwLDMsMHYtMkExLjUsMS41LDAsMCwwLDE0LDE5LjVabTIsMHYyYTAuNSwwLjUsMCwwLDEtMSwwdi0yQTAuNSwwLjUsMCwwLDEsMTYsMTkuNVoiLz48cGF0aCBkPSJNMjIsOS41YTYuNSw2LjUsMCwxLDAtMTAuOTUsNC43M0wxMiwyN2MwLDEsMS43NywyLDMuNSwyUzE5LDI4LDE5LDI3bDAuOTUtMTIuODFBNi40OCw2LjQ4LDAsMCwwLDIyLDkuNVpNMTUuNSw0QTUuMzUsNS4zNSwwLDAsMSwyMSw5SDEwQTUuMzUsNS4zNSwwLDAsMSwxNS41LDRaTTEwLDEwSDIxYTUuMzUsNS4zNSwwLDAsMS01LjQ3LDVBNS4zNSw1LjM1LDAsMCwxLDEwLDEwWm04LDE3YTMuMDgsMy4wOCwwLDAsMS0yLjUsMUEzLDMsMCwwLDEsMTMsMjdMMTIuMTIsMTVhNi40NCw2LjQ0LDAsMCwwLDYuNzcsMFoiLz48L3N2Zz4=")
    no-repeat right;
}

#logo {
  padding-right: 1em;
}

#logo:after {
  background: #b0a49a;
  content: "";
  display: block;
  height: 5px;
  margin: 10px auto 0;
  width: 8rem;
}

#account {
  flex: 1;
}

#account {
  display: flex;
  justify-content: flex-end;
}

#logo a {
  font-size: x-large;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: hsl(45, 3%, 24%);
  font-family: monospace;
}

#logo a:hover {
  text-decoration: underline;
}

.gradient-accent {
  display: grid;
  grid-template-columns: 1fr;
  padding: 6em 25em;
  background: #b0a49a;
  background: linear-gradient(to right, #b0a49a, #f9fafb);
  background: -webkit-linear-gradient(to right, #b0a49a, #f9fafb);
}

.gradient-accent h5 {
  color: #71717a;
}

.background-mixtapes {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/mixtapes.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}

.background-mixtapes-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9fafb;
  width: 26rem;
  padding: 0em 0em;
  font-size: xx-large;
  font-weight: 800;
  font-family: monospace;
  line-height: 1.8em;
  text-transform: uppercase;
}

.background-graph-paper {
  height: 25%;
  background-color: f9fafb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2394a3b8' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.text-image {
  display: flex;
  gap: 10rem;
}

#ultra-image {
  width: 100%;

  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
  -webkit-box-reflect: right 1em
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#master-ace-bizmarkie-puppet {
  border-radius: 2px;
  object-fit: cover;
  -webkit-box-reflect: right 1em
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
